<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="FastReport.Compat" version="2022.2.0" targetFramework="net40" />
  <package id="FastReport.OpenSource" version="2022.2.12" targetFramework="net40" />
  <package id="jQuery" version="3.7.1" targetFramework="net40" />
  <package id="jQuery.Validation" version="1.19.5" targetFramework="net40" />
  <package id="kavenegar" version="1.1.2" targetFramework="net40" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.30506.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net40" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net48" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net48" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="4.0.0" targetFramework="net40" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net48" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net40" />
  <package id="Microsoft.SqlServer.Types" version="11.0.0" targetFramework="net40" />
  <package id="Microsoft.VisualStudio.Interop" version="17.8.37221" targetFramework="net40" requireReinstallation="true" />
  <package id="Microsoft.Web.Infrastructure" version="2.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net40" requireReinstallation="true" />
  <package id="PersianDatePicker" version="1.1.0" targetFramework="net40" />
  <package id="ReportViewerForMvc" version="1.1.1" targetFramework="net40" requireReinstallation="true" />
</packages>