<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="content-security-policy" value="default-src 'self' http://93.118.96.246:82 http://192.168.200.254:82; script-src 'self' 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline';" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
    <aspNetCore stdoutLogEnabled="false" hostingModel="InProcess" processPath="dotnet" arguments=".\BaseSite.Api.dll" />
  </system.webServer>
</configuration>